body {
    background-color:rgb(0, 0, 0);
    color: rgb(196, 196, 196);
}

button {
    background-color: #129700;
    color: rgb(255, 255, 0);
    margin: 5px;
    font-size: 20px;
}

.title {
    text-align: center;
    color: yellow;
}

.banner-button {
    position: absolute;
    background-color: #129700;
    border: none;
    color: rgb(255, 255, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    height: 100%;
}

.center {
    text-align: center;
}

#banner-title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    color:black;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    background-color: blueviolet;
    width: 100%;
    height: 50px;
}

#content {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}